@import "tailwindcss";

@font-face {
	font-family: "Satoshi";
	src:
		url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2-variations"),
		url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-sp-green: #1ed760;
	--color-sp-white: #ffffff;
	--color-sp-dark-grey: #212121;
	--color-sp-black: #121212;

	--font-sans: 'Satoshi', sans-serif;
}

@layer base {
	body {
		@apply bg-sp-black text-slate-100 font-sans;
	}
}

@layer componets {
	.primaryText {
		font-weight: 600;
		color: #ffffff;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.secondaryText {
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: #d1d5db;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.order-button.selected {
		@apply bg-sp-green;
	}
}
