@import "tailwindcss";

@theme {
    --color-sp-green: #1ED760;
	--color-sp-white: #FFFFFF;
    --color-sp-black: #121212;
}

@layer base {
	body {
		@apply bg-sp-black text-slate-100 font-sans;
	}
}
